{% extends "layout.html" %}
{% from "_macros.html" import custom_select %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/select.css') }}">
{% endblock %}

{% block title %}Historial de Transacciones{% endblock %}

{% block main %}
  <h1 class="history-title text-center mt-5 mb-5">Historial de Transacciones</h1>

  <section class="filters-container container border border-1 border-secondary-subtle rounded-3 p-3 d-flex flex-column gap-4" data-type-f="{{ type_f }}">
    <div class="filters-header d-flex gap-2 align-items-center">
      <figure>
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-funnel" viewBox="0 0 16 16" aria-hidden="true">
          <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2z"/>
        </svg>
      </figure>
      <h2 class="filters-title m-0">Filtros</h2>
    </div>

    <div class="filters-contianer-filters">
      <div class="filter text-center mb-4">
        <div class="filter-label mb-3">
          <span class="fw-bold fs-5">Tipo</span>
        </div>
        <div class="filter-type d-flex justify-content-center gap-3 flex-wrap">
          <a href="{{ url_for('views.history', filter='all') }}" type="button" class="filter-btn btn border border-2 border-secondary-subtle py-2 px-5 fw-bold text-secondary" id="filterAllBtn">Todos</a>
          <a href="{{ url_for('views.history', filter='income') }}" type="button" class="filter-btn btn border border-2 border-secondary-subtle py-2 px-5 fw-bold text-secondary" id="filterIncBtn">Ingreso</a>
          <a href="{{ url_for('views.history', filter='expense') }}" type="button" class="filter-btn btn border border-2 border-secondary-subtle py-2 px-5 fw-bold text-secondary" id="filterExpBtn">Gasto</a>
        </div>
      </div>
      <div class="filter">
        <div class="filter-label mb-3">
          <span class="fw-bold fs-5">Categoria</span>
        </div>

        <div class="filter-categories w-100 position-relative">
          {{ custom_select(
            def=True if not category and categories else False,
            def_l="Todas",
            sel=True if category else None,
            sel_l=category["name"] if category else None,
            error_l="No tienes categorias" if not categories else None,
            options=categories,
            value="id",
            label="name",
            comparison=category["id"] if category else None,
            base_url="./history",
            query_param="?cat_id="
          ) }}
        </div>
      </div>
    </div>
  </section>

  <section class="historical-summary-container d-flex flex-column gap-3 container mt-5 p-0 justify-content-center">
    <article class="hist-card-item card-item border border-1 border-secondary-subtle rounded-3 d-flex flex-column flex-grow-1">
      <h3 class="card-item-title fs-5 mb-3">Total</h3>
      <span class="text-{{'success' if inc > exp else 'danger' }} fs-2 fw-bold">{{ bal | money }}</span>
    </article>

    <article class="hist-card-item card-item border border-1 border-success-subtle rounded-3 d-flex flex-column bg-success-subtle flex-grow-1">
      <h3 class="card-item-title fs-5 mb-3 text-success">Ingresos</h3>
      <span class="text-success fs-2 fw-bold">{{ inc | money }}</span>
    </article>

    <article class="hist-card-item card-item border border-1 border-danger-subtle rounded-3 d-flex flex-column bg-danger-subtle flex-grow-1">
      <h3 class="card-item-title fs-5 mb-3 text-danger">Gastos</h3>
      <span class="text-danger fs-2 fw-bold">{{ exp | money }}</span>
    </article>
  </section>

  <section class="history-container my-5 border border-1 border-secondary-subtle px-3 py-4 rounded-3 d-flex flex-column gap-4">
    <h2 class="history-mov-title text-center">Transacciones</h2>
    <ul class="history-list d-flex flex-column gap-3">
      {% if not page.items and type_f == "all" %}
        <li class="text-center text-secondary fs-4 my-4">
          <span class="d-block">No tienes transacciones aún</span>
          <a href="{{ url_for('views.index') }}">Volver al inicio</a>
        </li>
      {% elif not page.items %}
        <li class="text-center text-secondary fs-4 my-4">
          <span class="d-block">No se encontraron resultados con el filtro seleccionado</span>
        </li>
      {% else %}
        {% for item in page %}
          <li class="history-item d-flex justify-content-between align-items-center p-2 rounded-2">
            <div class="history-mov-desc d-flex flex-column">
              <span class="concept">{{ item.concept }}</span>
              <span class="meta text-secondary">{{ item.date | date_es }} • {{ item.category.name if item.category_id != None else 'Sin categoría' }}</span>
            </div>

            <div class="history-mov-amount">
              <span class="fw-medium text-{{ 'success' if item.type.value == 'income' else 'danger' }}">{{ '+' if item.type.value == 'income' else '-' }}{{ item.amount | money }}</span>
            </div>
          </li>
        {% endfor %}
      {% endif %}
    </ul>
    <div class="history-links d-flex justify-content-center gap-5">
      {% if page.has_prev %}
        <a href="{{ url_for('views.history', cat_id=category.id if category else None, filter=type_f ,page=page.prev_num) }}" class="text-decoration-none fs-5">&larr; Anterior</a>
      {% endif %}

      {% if page.has_next %}
        <a href="{{ url_for('views.history', cat_id=category.id if category else None , filter=type_f ,page=page.next_num) }}" class="text-decoration-none fs-5">Siguiente &rarr;</a>
      {% endif %}
    </div>
  </section>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/select.js') }}"></script>
{% endblock %}