/* ======== MOBILE FIRST ======== */

/* ==== VARIABLES ==== */
:root {
  --br-s: 5px;
  --br-m: 10px;
  --gray: #EEEEEE;
  --white: #FFFFFF;
  --gs: #D0FAE4;
  --gd: #007A55;
  --green: #009966;
  --rs: #FFE2E2;
  --red: #FF5555;
  --dark-gray: #999999;
  --bx-s: 0 0 20px 0 #0002;
}

/* ==== GENERAL ==== */
body {
  font-family: 'Funnel Sans';
}

figure {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

input {
  border: none;
  background-color: var(--gray);
  padding: 6px 8px;
  border-radius: var(--br-s);
}

svg {
  stroke: var(--white);
  stroke-width: 1px;
}

/* ====== DASHBOARD SECTION ====== */

.index-title {
  font-size: 2.5rem;
  text-align: center;
}

.dashboard-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  max-width: 992px;
  margin: auto;
}

/* == SUMMARY SECTION == */

.summary-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.card-large {
  grid-column: span 2;
}

/* GENERAL CARDS STYLES */
.card-item {
  border-radius: var(--br-s);
  padding: 15px 12px;
  display: flex;
  justify-content: space-between;
}

.card-icon {
  height: fit-content;
  padding: 5px;
  display: grid;
  place-content: center;
  border-radius: var(--br-s);
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-title {
  font-size: .93rem;
}

/* BALANCE CARD */
.balance-card {
  background-image: linear-gradient(345deg, #DBEAFE, #EDF5FF);
  color: #1465EC;
}

.balance-amount {
  color: #1C398E;
}

/* INCOMES CARD */
.incomes-card {
  background-image: linear-gradient(345deg, var(--gs), #E9FCF3);
  color: var(--gd);
}

.incomes-amount {
  color: #004F3B;
}

/* EXPENSES CARD */
.expenses-card {
  background-image: linear-gradient(345deg, var(--rs), #FEF1F1);
  color: #D3292C;
}

.expenses-amount {
  color: #82181A;
}

.card-icon.expenses-icon {
  background-color: #E7000B;
}

/* == FAST ACTIONS SECTION == */
.actions {
  height: 30vh;
  display: grid;
  place-content: center;
  gap: 10px;
}

.actions-title {
  font-size: 2rem;
  text-align: center;
}

.actions-btns {
  display: flex;
}

.action-btn {
  width: fit-content;
  margin: auto;
  padding: 10px 15px;
  border-radius: var(--br-s);
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 10px;
  transform: scale(0.9);
  transition: background-color .3s ease;
}

.add-transaction-btn {
  box-shadow: 0 0 20px 0 #1465EC44;
}

.add-transaction-btn:hover {
  background-color: #1249aa !important;
}

.config-categories-btn:hover {
  background-color: var(--gray);
}

.config-icon svg{
  stroke: #555;
}

/* == INCOMES/EXPENSES CATEGORY ANALYSIS SECTION == */

/* CONFIG */
.view-section {
  display: none;
}

[data-type-analysis="incomes"] #incomesAnalysis {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 0;
  overflow: hidden;
}

[data-type-analysis="expenses"] #expensesAnalysis {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 0;
  overflow: hidden;
}

[data-type-analysis="incomes"] #incomeAnalysisBtn {
  background-color: var(--gs);
  border-color: var(--green) !important;
  color: var(--gd) !important;
}

[data-type-analysis="expenses"] #expenseAnalysisBtn {
  background-color: var(--rs);
  border-color: var(--red) !important;
  color: #c53c3c !important;
}

/* CONTAINER SECTION */
.category-analysis {
  display: flex !important;
  flex-direction: column;
  height: 70dvh;
  border: 2px solid var(--gray);
  border-radius: var(--br-m);
  padding: 14px;
  overflow: hidden; 
  box-shadow: var(--bx-s);
}

.scroll-area {
  flex-grow: 1;
  overflow-y: auto;
  min-height: 0;
  margin: 0 -14px -14px -14px; 
  padding: 0 14px 14px 14px;
}

/* BTNS SECTION */
.category-analysis-btns {
  display: flex;
  gap: 20px;
  font-size: 1.1rem;
}

.analysis-btn {
  width: 100%;
  background-color: transparent;
  border-radius: var(--br-s);
  padding: 8px 14px;
}

/* ANALYSIS SECTION */
.analysis-title {
  text-align: center;
  margin: 20px 0;
}

.analysis-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.analysis_item {
  flex-shrink: 0;
}

.category-header {
  display: flex;
  justify-content: space-between;
}

/* == MOVEMENTS SECTION == */

/* CONTAINER SECTION */
.movements-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border: 2px solid var(--gray);
  border-radius: var(--br-m);
  padding: 14px;
  box-shadow: var(--bx-s);
}

/* HEADER SECTION */

.movements-header {
  display: flex;
  justify-content: space-between;
}

.movements-title {
  font-size: 1.25rem;
}

.movements-link {
  text-decoration: none;
}

/* MOVEMENTS LIST SECTION */

.movements-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.movement-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ecf0f4;
  padding: 6px 10px;
  border-radius: var(--br-s);
  transition: background-color .3s ease;
}

.movement-item:hover {
  background-color: #e1e9f4;
}

.movement-desc {
  display: flex;
  flex-direction: column;
}

.meta {
  font-size: .85rem;
}

/* == MODAL SECTION == */
/* CONFIG */
[data-view="transaction"] #transaction-form {
  display: flex;
}

[data-view="categories"] #categories-form {
  display: flex;
}

[data-type="income"] #toggleIncome{
  background-color: var(--gs);
  border-color: var(--green);
  color: var(--gd);
}

[data-type="expense"] #toggleExpense{
  background-color: var(--rs);
  border-color: var(--red);
  color: #c53c3c;
}

.modal-content {
  max-height: 70dvh;
  padding: 3px;
}

/* FORM CONTAINER SECTION */
.dashboard-form {
  display: none;
  flex-direction: column;
  gap: 25px;
}

/* TOGGLE BTNS SECTION */
.toggle-container {
  display: flex;
  gap: 10px;
}

.modal-toggle-btns-container {
  display: flex;
  gap: 10px;
}

.btn-toggle {
  width: 100%;
  padding: 10px 0;
  background-color: transparent;
  border: 2px solid #ccc;
  color: var(--dark-gray);
  border-radius: var(--br-s);
}

/* FORM GROUPS SECTION */
.form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 1.1rem;
}

/* TRANSACTION SECTION */
/* CUSTOM SELECT SECTION */
.custom-select[aria-expanded="true"] .select-options-list {
  transform: scale(1);
}

.custom-select {
  position: relative;
}

.select-trigger {
  display: flex;
  justify-content: space-between;
  background-color: var(--gray);
  padding: 6px 8px;
  border-radius: var(--br-s);
}

.select-options-list {
  display: flex;
  position: absolute;
  transform: scale(0);
  flex-direction: column;
  bottom: 105%;
  background-color: var(--white);
  width: 100%;
  max-height: 55dvh;
  overflow-y: auto;
  padding: 8px;
  border: 1px solid #efefef;
  border-radius: var(--br-s);
  gap: 5px;
  box-shadow: var(--bx-s);
  transition: transform .05s ease;
}

.select-option {
  display: none;
  justify-content: space-between;
  background-color: transparent;
  padding: 4px 6px;
  border-radius: var(--br-s);
}

.none-opt {
  display: none;
}

.select-opt-icon svg{
  fill: transparent;
}

.select-option:hover {
  background-color: var(--gray);
}

[data-type="income"] .select-option.opt-income, [data-type="income"] .none-opt.opt-income {
  display: flex;
}

.select-option[aria-selected="true"] .select-opt-icon svg{
  stroke: var(--dark-gray);
  fill: var(--dark-gray);
}

.select-option[aria-selected="true"] {
  background-color: var(--gray);
}

[data-type="expense"] .select-option.opt-expense, [data-type="expense"] .none-opt.opt-expense {
  display: flex;
}

/* FORM FOOTER SECTION */
.modal-actions {
  display: flex;
  gap: 10px;
  justify-content: right;
}

.modal-action-btn {
  width: 100%;
  border: none;
  padding: 5px 0;
  border-radius: var(--br-s);
}

.close-modal-btn {
  background-color: transparent;
  border: 1px solid var(--gray);
}

.submit-modal-btn {
  color: var(--white);
}

[data-view="transaction"][data-type="income"] .submit-modal-btn {
  background-color: var(--green);
}

[data-view="transaction"][data-type="expense"] .submit-modal-btn {
  background-color: var(--red);
}

[data-view="categories"] .submit-modal-btn {
  background-color: #1465EC;
}

/* CATEGORIES SECTION */
.new_category_actions {
  display: flex;
  gap: 5px;
}

.new-category-input {
  flex-grow: 1;
}

.btn-add-cat {
  padding: 5px 12px;
  border: none;
  color: var(--white);
  font-size: 1.4rem;
  border-radius: var(--br-s);
}

[data-type="income"] .btn-add-cat {
  background-color: var(--green);
}

[data-type="expense"] .btn-add-cat {
  background-color: var(--red);
}

.category-form-list {
  max-height: 12rem;
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow-y: auto;
}

.category-form-item {
  display: none;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid transparent;
  background-color: transparent;
  border-radius: var(--br-s);
}

.none-category {
  display: none;
  padding: 5px;
}

.category-form-item[data-hidden="true"] {
  display: none !important;
}

[data-type="income"] .category-form-item.income-category, [data-type="income"] .none-category.income-category {
  display: flex;
}

[data-type="expense"] .category-form-item.expense-category, [data-type="expense"] .none-category.expense-category {
  display: flex;
}

.category-form-item.income-category {
  border-color: var(--green);
  background-color: var(--gs);
}

.category-form-item.expense-category {
  border-color: var(--red);
  background-color: var(--rs);
}

.delete-category-btn {
  border: none;
  background-color: transparent;
  color: var(--white);
  padding: 2px 10px;
  border-radius: var(--br-s);
  font-size: 1.5rem;
}

[data-type="income"] .income-category .delete-category-btn {
  color: #004F3B;
}

[data-type="income"] .income-category .delete-category-btn:hover {
  background-color: #00996664;
}

[data-type="expense"] .expense-category .delete-category-btn {
  color: #82181A;
}

[data-type="expense"] .expense-category .delete-category-btn:hover {
  background-color: #ff555560;
}

/* ====== MEDIA QUERIES ====== */
@media screen and (min-width: 768px) {
  .dashboard-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "summary summary"
    "actions analysis"
    "movements movements"
    ;
  }

  .summary-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-area: summary;
  }

  .card-large {
    grid-column: span 1;
  }

  .actions {
    grid-area: actions;
    height: 80%;
  }

  .category-analysis {
    grid-area: analysis;
  }

  .movements-container {
    grid-area: movements;
  }
}

@media screen and (min-width: 992px) {
  .dashboard-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "summary summary summary"
    "actions actions analysis"
    "movements movements movements"
    ;
  }
}