/* ======== MOBILE FIRST ======== */

body {
  font-family: 'Funnel Sans';
}

figure {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

.form-label {
  font-weight: 600;
}

input {
  border: none;
  background-color: #eee;
  padding: 6px 8px;
  border-radius: 5px;
}

/* ====== DASHBOARD SECTION ====== */

.index-title {
  font-size: 2.5rem;
  text-align: center;
}

.dashboard-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  max-width: 992px;
  margin: auto;
}

/* == SUMMARY SECTION == */

.summary-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.card-large {
  grid-column: span 2;
}

/* GENERAL CARDS STYLES */
.card-item {
  background-color: #48e;
  border-radius: 8px;
  padding: 15px 12px;
  display: flex;
  justify-content: space-between;
  border: 1px solid transparent;
}

.card-icon {
  height: fit-content;
  padding: 5px;
  display: grid;
  place-content: center;
  border-radius: 5px;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-title {
  font-size: .9rem;
}

/* BALANCE CARD */
.balance-card {
  background-image: linear-gradient(345deg, #DBEAFE, #EDF5FF);
  border-color: #accdff;
  color: #1465EC;
}

.balance-amount {
  color: #1C398E;
}

.card-icon.balance-icon {
  background-color: #155DFC;
}

/* INCOMES CARD */
.incomes-card {
  background-image: linear-gradient(345deg, #D0FAE4, #E9FCF3);
  border-color: #99ddc9;
  color: #007A55;
}

.incomes-amount {
  color: #004F3B;
}

.card-icon.incomes-icon {
  background-color: #009966;
}

/* EXPENSES CARD */
.expenses-card {
  background-image: linear-gradient(345deg, #FFE2E2, #FEF1F1);
  border-color: #ffc5c5;
  color: #D3292C;
}

.expenses-amount {
  color: #82181A;
}

.card-icon.expenses-icon {
  background-color: #E7000B;
}

/* == FAST ACTIONS SECTION == */
.actions {
  height: 30vh;
  display: grid;
  place-content: center;
  gap: 10px;
}

.actions-title {
  font-size: 2rem;
  text-align: center;
}

.actions-btns {
  display: flex;
}

.action-btn {
  width: fit-content;
  margin: auto;
  padding: 10px 15px;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 10px;
  border: 2px solid transparent;
  transform: scale(0.9);
  transition: background-color .3s ease;
}

.add-transaction-btn {
  background-color: #1465EC;
  box-shadow: 0 0 20px 0 #1465EC44;
  color: #fff;
}

.add-transaction-btn:hover {
  background-color: #1249aa;
  color: #fff;
}

.config-categories-btn {
  background-color: #f3f3f3;
  border-color: #ccc;
}

.config-categories-btn:hover {
  background-color: #ddd;
}

/* == INCOMES/EXPENSES CATEGORY ANALYSIS SECTION == */

/* CONFIG */
.view-section {
  display: none;
}

[data-type-analysis="incomes"] #incomesAnalysis {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 0;
  overflow: hidden;
}

[data-type-analysis="expenses"] #expensesAnalysis {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 0;
  overflow: hidden;
}

[data-type-analysis="incomes"] #incomeAnalysisBtn {
  background-color: #D0FAE4;
  border-color: #009966;
  color: #007A55;
}

[data-type-analysis="expenses"] #expenseAnalysisBtn {
  background-color: #FFE2E2;
  border-color: #f55;
  color: #c53c3c;
}

/* CONTAINER SECTION */
.category-analysis {
  display: flex !important;
  flex-direction: column;
  height: 70dvh;
  border: 2px solid #ddd;
  border-radius: 10px;
  padding: 14px;
  overflow: hidden; 
}

.scroll-area {
  flex-grow: 1;
  overflow-y: auto;
  min-height: 0;
  margin: 0 -14px -14px -14px; 
  padding: 0 14px 14px 14px;
}

/* BTNS SECTION */
.category-analysis-btns {
  display: flex;
  justify-content: space-evenly;
  font-size: 1.1rem;
}

.analysis-btn {
  border: 2px solid #ccc;
  background-color: transparent;
  border-radius: 4px;
  padding: 8px 14px;
  font-weight: bold;
  color: #8f8f8f;
}

/* ANALYSIS SECTION */
.analysis-title {
  text-align: center;
  margin: 20px 0;
}

.analysis-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.analysis_item {
  flex-shrink: 0;
}

.category-header {
  display: flex;
  justify-content: space-between;
}

/* == MOVEMENTS SECTION == */

/* CONTAINER SECTION */
.movements-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border: 2px solid #ddd;
  border-radius: 10px;
  padding: 14px;
}

/* HEADER SECTION */

.movements-header {
  display: flex;
  justify-content: space-between;
}

.movements-title {
  font-size: 1.25rem;
}

.movements-link {
  text-decoration: none;
}

/* MOVEMENTS LIST SECTION */

.movements-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.movement-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ecf0f4;
  padding: 6px 10px;
  border-radius: 5px;
  transition: background-color .3s ease;
}

.movement-item:hover {
  background-color: #e1e9f4;
}

.movement-desc {
  display: flex;
  flex-direction: column;
}

.meta {
  font-size: .85rem;
  color: #666;
}

.amount {
  font-weight: bold;
}

.expense-amount {
  color: #D3292C;
}

.income-amount {
  color: #009966;
}

/* == MODAL SECTION == */
/* CONFIG */
[data-view="transaction"] #transaction-form {
  display: flex;
}

[data-view="categories"] #categories-form {
  display: flex;
}

[data-type="income"] #toggleIncome{
  background-color: #D0FAE4;
  border-color: #009966;
  color: #007A55;
}

[data-type="expense"] #toggleExpense{
  background-color: #FFE2E2;
  border-color: #f55;
  color: #c53c3c;
}

.modal-content {
  max-height: 70dvh;
  padding: 3px;
}

/* FORM CONTAINER SECTION */
.dashboard-form {
  display: none;
  flex-direction: column;
  gap: 25px;
}

.form-header h3{
  font-size: 1.1rem;
  font-weight: 600;
}

/* TOGGLE BTNS SECTION */
.toggle-container {
  display: flex;
  gap: 10px;
}

.modal-toggle-btns-container {
  display: flex;
  gap: 10px;
}

.btn-toggle {
  width: 100%;
  padding: 10px 0;
  background-color: transparent;
  border: 2px solid #ccc;
  color: #999;
  font-weight: bold;
  border-radius: 5px;
}

/* FORM GROUPS SECTION */
.form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 1.1rem;
}

/* TRANSACTION SECTION */
/* CUSTOM SELECT SECTION */
.custom-select[aria-expanded="true"] .select-options-list {
  transform: scale(1);
}

.custom-select {
  position: relative;
}

.select-trigger {
  display: flex;
  justify-content: space-between;
  background-color: #eee;
  padding: 6px 8px;
  border-radius: 5px;
}

.select-options-list {
  display: flex;
  position: absolute;
  transform: scale(0);
  flex-direction: column;
  bottom: 105%;
  background-color: #fff;
  width: 100%;
  max-height: 55dvh;
  overflow-y: auto;
  padding: 8px;
  border: 1px solid #efefef;
  border-radius: 8px;
  gap: 5px;
  transition: transform .05s ease;
}

.select-option {
  background-color: transparent;
  padding: 4px 6px;
  border-radius: 5px;
}

.select-option:hover {
  background-color: #eee;
}

/* FORM FOOTER SECTION */
.modal-actions {
  display: flex;
  gap: 10px;
  justify-content: right;
}

.modal-action-btn {
  width: 100%;
  border: none;
  padding: 5px 0;
  border-radius: 5px;
  font-weight: 600;
}

.close-modal-btn {
  background-color: transparent;
  border: 1px solid #ddd;
}

.submit-modal-btn {
  color: #fff;
}

[data-view="transaction"][data-type="income"] .submit-modal-btn {
  background-color: #009966;
}

[data-view="transaction"][data-type="expense"] .submit-modal-btn {
  background-color: #f55;
}

[data-view="categories"] .submit-modal-btn {
  background-color: #1465EC;
}

/* CATEGORIES SECTION */
.config-categories-info {
  font-size: .85rem;
  text-align: center;
  color: #999;
}

.new_category_actions {
  display: flex;
  gap: 5px;
}

.new-category-input {
  flex-grow: 1;
}

.btn-add-cat {
  padding: 5px 12px;
  border: none;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
  border-radius: 5px;
}

[data-type="income"] .btn-add-cat {
  background-color: #009966;
}

[data-type="expense"] .btn-add-cat {
  background-color: #f55;
}

.category-form-list {
  max-height: 12rem;
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow-y: auto;
}

.category-form-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid transparent;
  background-color: transparent;
  font-weight: bold;
  border-radius: 5px;
}

[data-type="income"] .category-form-item.income-category {
  border-color: #009966;
  background-color: #D0FAE4;
}

[data-type="expense"] .category-form-item.expense-category {
  border-color: #f55;
  background-color: #FFE2E2;
}

.delete-category-btn {
  border: none;
  background-color: transparent;
  color: #fff;
  padding: 2px 10px;
  border-radius: 5px;
  font-size: 1.5rem;
}

[data-type="income"] .income-category .delete-category-btn {
  color: #004F3B;
}

[data-type="income"] .income-category .delete-category-btn:hover {
  background-color: #00996664;
}

[data-type="expense"] .expense-category .delete-category-btn {
  color: #82181A;
}

[data-type="expense"] .expense-category .delete-category-btn:hover {
  background-color: #ff555560;
}

/* ====== MEDIA QUERIES ====== */
@media screen and (min-width: 768px) {
  :root {
    font-size: 14px;
  }

  .dashboard-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "summary summary"
    "actions analysis"
    "movements movements"
    ;
  }

  .summary-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-area: summary;
  }

  .card-large {
    grid-column: span 1;
  }

  .actions {
    grid-area: actions;
    height: 80%;
  }

  .category-analysis {
    grid-area: analysis;
  }

  .movements-container {
    grid-area: movements;
  }
}

@media screen and (min-width: 992px) {
  .dashboard-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "summary summary summary"
    "actions actions analysis"
    "movements movements movements"
    ;
  }
}