{% extends "layout.html" %}

{% block main %}
<h1 class="index-title m-5">Hola, Admin</h1>

<!-- Modify this container to be the main container, need to modify the layout -->
<div class="dashboard-container">

  <!-- Section element -->
  <div class="summary-grid">

    <!-- article element -->
    <div class="card-item card-large shadow-sm balance-card">
      <div class="card-content">
          <h6 class="card-title mb-1">Balance Actual</h6>
          <h2 class="fw-bold balance-amount">$2726.00</h2>
      </div>
      <!-- Figure element -->
      <div class="card-icon balance-icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="11" height="11" fill="#fff" class="bi bi-wallet2" viewBox="0 0 16 16">
          <path d="M12.136.326A1.5 1.5 0 0 1 14 1.78V3h.5A1.5 1.5 0 0 1 16 4.5v9a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 13.5v-9a1.5 1.5 0 0 1 1.432-1.499zM5.562 3H13V1.78a.5.5 0 0 0-.621-.484zM1.5 4a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5z"/>
        </svg>
      </div>
    </div>

    <div class="card-item shadow-sm incomes-card">
      <div class="card-content">
          <h6 class="card-title mb-1">Ingresos del Mes</h6>
          <h2 class="fw-bold incomes-amount">$2726.00</h2>
      </div>
      <div class="card-icon incomes-icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="11" height="11" fill="#fff" class="bi bi-graph-up-arrow" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M0 0h1v15h15v1H0zm10 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4.9l-3.613 4.417a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61L13.445 4H10.5a.5.5 0 0 1-.5-.5"/>
        </svg>
      </div>
    </div>

    <div class="card-item stat-card shadow-sm expenses-card">
      <div class="card-content">
          <h6 class="card-title mb-1">Gastos del Mes</h6>
          <h2 class="fw-bold expenses-amount">$2726.00</h2>
      </div>
      <!-- Fix svg with aria-hidden="true", card-icon container to be figure element and  -->
      <div class="card-icon expenses-icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="11" height="11" fill="#fff" class="bi bi-graph-up-arrow" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M0 0h1v15h15v1H0zm10 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4.9l-3.613 4.417a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61L13.445 4H10.5a.5.5 0 0 1-.5-.5"/>
        </svg>
      </div>
    </div>

  </div>

  <!-- Modify this to be a nav with aria-label attribute -->
  <div class="actions">
    <h2 class="actions-title">¿Qué desea realizar?</h2>

    <!-- Add type="button" -->
    <button id="addTransactionBtn" class="action-btn">Añadir transacción</button>
    <button id="configCategoriesBtn" class="action-btn">Configurar categorias</button>

  </div>

  <!-- Section element -->
  <div id="categoryAnalysis" class="category-analysis" data-type="incomes">
    <div class="category-analysis-btns">
      <!-- Add type="button" -->
      <button id="incomeAnalysisBtn" class="analysis-btn income-analysis-btn active">Ingresos</button>
      <!-- Fix this, there are two btns with the same id -->
      <button id="incomeAnalysisBtn" class="analysis-btn expense-analysis-btn">Gastos</button>
    </div>
    <div class="view-section" id="incomesAnalysis">
      <h2 class="analysis-title">Ingresos por Categoria</h2>
      <ul class="analysis-list">
        <li class="analysis_item">
          <div class="category-header">
            <span>Comida</span>
            <span>$1200</span>
          </div>
          <div class="progress" role="progressbar" aria-label="Comida" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar bg-success" style="width: 50%"></div>
          </div>
        </li>

        <li class="analysis_item">
          <div class="category-header">
            <span>Comida</span>
            <span>$1200</span>
          </div>
          <div class="progress" role="progressbar" aria-label="Comida" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar bg-success" style="width: 50%"></div>
          </div>
        </li>

        <li class="analysis_item">
          <div class="category-header">
            <span>Comida</span>
            <span>$1200</span>
          </div>
          <div class="progress" role="progressbar" aria-label="Comida" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar bg-success" style="width: 50%"></div>
          </div>
        </li>
      </ul>
    </div>
    <div class="view-section" id="expensesAnalysis">
      <h2 class="analysis-title">Gastos por Categoria</h2>
      <ul class="analysis-list">
        <li class="analysis_item">
          <div class="category-header">
            <span>Comida</span>
            <span>$1200</span>
          </div>
          <div class="progress" role="progressbar" aria-label="Comida" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar bg-danger" style="width: 50%"></div>
          </div>
        </li>

        <li class="analysis_item">
          <div class="category-header">
            <span>Comida</span>
            <span>$1200</span>
          </div>
          <div class="progress" role="progressbar" aria-label="Comida" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar bg-danger" style="width: 50%"></div>
          </div>
        </li>

        <li class="analysis_item">
          <div class="category-header">
            <span>Comida</span>
            <span>$1200</span>
          </div>
          <div class="progress" role="progressbar" aria-label="Comida" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar bg-danger" style="width: 50%"></div>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <!-- Section element -->
  <div id="movements" class="movements-container">
    <div class="movements-header">
      <h2 class="movements-title">Ultimos movimientos</h2>
      <a href="/history">Ver todos &rarr;</a>
    </div>
    
    <ul class="movements-list">
      <li class="movement-item">
        <!-- Movement description -->
        <div class="movement-desc">
          <span class="name">Mercado</span>
          <span class="meta">15 de enero 2025 • Alimentación</span>
        </div>

        <!-- Movement value -->
        <div class="movement-amount">
          <span class="amount">- $85</span>
        </div>
      </li>
    </ul>

  </div>
</div>

{% endblock %}

<!-- This is commented out so you can see a preview of the page -->
{% block modal %}
<div id="main-modal" class="modal-overlay hidden" data-view="transaction" data-type="income">
  <div class="modal-content">
    <header class="modal-header">
      <div id="modal-title"></div>
      <button id="closeModalBtn">&times;</button>
    </header>
    
    <div class="view-section" id="section-transaction">
        {% include 'components/modal_transactions.html' %}
      </div>
    <div class="view-section" id="section-categories">
      {% include 'components/modal_categories.html' %}
    </div>
  </div>
</div>
{% endblock %}