{% extends "layout.html" %}

{% block title %}Gráficas{% endblock %}

{% block main %}
  <h1 class="text-center my-4">Gráficas</h1>

  <section class="monthly-ev-container charts-container border border-1 border-secondary-subtle rounded-3 p-3">
    <h2 class="balance-ev-title text-center mb-4">Evolución Mensual: Ingreso vs Gasto</h2>
    <div class="chart-c" style="width: 100%; max-width: 600px; margin: auto;">
      {% if not tranc_dates or not mon_ev %}
      <span class="d-block mt-5 text-secondary fs-5 text-center">No has hecho ninguna transacción en los últimos 6 meses.</span>
      <span class="d-block text-secondary fs-5 text-center">Crea una nueva transacción <a href="{{ url_for('index') }}">aquí</a>.</span>
      {% else %}
      <canvas id="monthlyEvoChart"></canvas>
      {% endif %}
    </div>
  </section>

  <section class="balance-ev-container charts-container border border-1 border-secondary-subtle rounded-3 p-3 my-5">
    <h2 class="balance-ev-title text-center mb-4">Balance Mensual</h2>
    <div class="chart-c" style="width: 100%; max-width: 600px; margin: auto;">
      {% if not tranc_dates or not mon_bal_ev %}
      <span class="d-block mt-5 text-secondary fs-5 text-center">No has hecho ninguna transacción en los últimos 6 meses.</span>
      <span class="d-block text-secondary fs-5 text-center">Crea una nueva transacción <a href="{{ url_for('index') }}">aquí</a>.</span>
      {% else %}
      <canvas id="monthlyBalChart"></canvas>
      {% endif %}
    </div>
  </section>

  <section class="exp-cat-container charts-container border border-1 border-secondary-subtle rounded-3 p-3 my-5">
    <h2 class="balance-ev-title text-center mb-4">Gastos por Categoría</h2>

    <div class="cat-select my-4 position-relative" id="catSelect" aria-expanded="false" tabindex="0">
      <div class="select-trigger-c d-flex justify-content-between py-2 px-3 bg-secondary-subtle rounded-2" id="selectTriggerC">
        <span class="fw-bold">Mes actual</span>
        <figure>
          <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="#bbb" class="bi bi-caret-down-fill" viewBox="0 0 16 16" aria-hidden="true">
            <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
          </svg>
        </figure>
      </div>

      <ul class="select-options-list-c m-0 p-2 bg-light border border-1 border-secondary-subtle rounded-3 shadow-sm d-flex flex-column gap-2 overflow-y-auto position-absolute w-100" id="selectOptListC">
        <li aria-selected="false" class="cat-option-c d-flex justify-content-between py-1 px-2 rounded-2" data-date="2026-06-02">
          <span>Junio de 2026</span>
          <figure class="cat-opt-icon-c">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#999" class="bi bi-check-lg" viewBox="0 0 16 16" aria-hidden="true">
              <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
            </svg>
          </figure>
        </li>

        <li aria-selected="false" class="cat-option-c d-flex justify-content-between py-1 px-2 rounded-2" data-date="2026-05-02">
          <span>Mayo de 2026</span>
          <figure class="cat-opt-icon-c">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#999" class="bi bi-check-lg" viewBox="0 0 16 16" aria-hidden="true">
              <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
            </svg>
          </figure>
        </li>

        <li aria-selected="false" class="cat-option-c d-flex justify-content-between py-1 px-2 rounded-2" data-date="2026-04-02">
          <span>Abril de 2026</span>
          <figure class="cat-opt-icon-c">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#999" class="bi bi-check-lg" viewBox="0 0 16 16" aria-hidden="true">
              <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
            </svg>
          </figure>
        </li>

        <li aria-selected="false" class="cat-option-c d-flex justify-content-between py-1 px-2 rounded-2" data-date="2026-03-02">
          <span>Marzo de 2026</span>
          <figure class="cat-opt-icon-c">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#999" class="bi bi-check-lg" viewBox="0 0 16 16" aria-hidden="true">
              <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
            </svg>
          </figure>
        </li>
      </ul>
    </div>
    <div style="width: 100%; max-width: 600px; margin: auto;">
      <canvas id="expCatChart"></canvas>
    </div>
  </section>
{% endblock %}

{% block script %}
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-autocolors"></script>
  <script>
    const autocolors = window['chartjs-plugin-autocolors'];

    const ctx = document.getElementById('monthlyEvoChart');
    const mbc = document.getElementById('monthlyBalChart');
    const ebc = document.getElementById('expCatChart');

    new Chart(ctx, {
      type: 'bar',
      data: {
        labels: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio'],
        datasets: [
          {
            label: 'Ingresos',
            data: [2760, 2760, 2760, 2760, 2760, 2760],
            backgroundColor: '#44BB7787',
            borderColor: '#44BB77',
            borderWidth: 1
          },
          {
            label: 'Gastos',
            data: [2760, 2760, 2760, 2760, 2760, 2760],
            backgroundColor: '#FF555587',
            borderColor: '#FF5555',
            borderWidth: 1
          }
        ]
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        scales: {
          x: {
            stacked: false
          },
          y: {
            beginAtZero: true
          }
        }
      }
    });

    new Chart(mbc, {
      type: 'line',
      data: {
        labels: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio'],
        datasets: [{
          label: 'Balance',
          data: [2760, 3760, 2760, 1760, 4760, 2543],
          borderColor: '#1465EC',
          fill: false,
          tension: 0.3
        }]
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });

    new Chart(ebc, {
      type: 'doughnut',
      data: {
        labels: ['Comida', 'Renta', 'Luz'],
        datasets: [
          {
            label: 'Gastos',
            data: [1234, 3241, 2431],
          }
        ]
      },
      options: {
        plugins: {
          autocolors: {
            enabled: true
          }
        }
      }
    })
  </script>
  <script src="{{ url_for('static', filename='js/chart.js') }}"></script>
{% endblock %}