{% extends "layout.html" %}

{% block title %}Gráficas{% endblock %}

{% block main %}
  <div class="balance-ev-container border border-1 border-secondary-subtle rounded-3 p-4">
    <h2 class="balance-ev-title text-center mb-4">Evolución Mensual: Ingreso vs Gasto</h2>
    <div style="width: 100%; max-width: 600px; margin: auto;">
      <canvas id="monthlyEvoChart"></canvas>
    </div>
  </div>

  <div class="balance-ev-container border border-1 border-secondary-subtle rounded-3 p-4 my-5">
    <h2 class="balance-ev-title text-center mb-4">Balance Mensual</h2>
    <div style="width: 100%; max-width: 600px; margin: auto;">
      <canvas id="monthlyBalChart"></canvas>
    </div>
  </div>
{% endblock %}

{% block script %}
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
    const ctx = document.getElementById('monthlyEvoChart');
    const mbc = document.getElementById('monthlyBalChart')

    new Chart(ctx, {
      type: 'bar',
      data: {
        labels: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo'],
        datasets: [
          {
            label: 'Ingresos',
            data: [2760, 2760, 2760, 2760, 2760],
            backgroundColor: '#44BB7787',
            borderColor: '#44BB77',
            borderWidth: 1
          },
          {
            label: 'Gastos',
            data: [2760, 2760,2760, 2760, 2760],
            backgroundColor: '#FF555587',
            borderColor: '#FF5555',
            borderWidth: 1
          }
        ]
      },
      options: {
        scales: {
          x: {
            stacked: false
          },
          y: {
            beginAtZero: true
          }
        }
      }
    });

    new Chart(mbc, {
      type: 'line',
      data: {
        labels: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo'],
        datasets: [{
          label: 'Balance',
          data: [2760, 3760, 2760, 1760, 4760],
          borderColor: '#1465EC',
          fill: false,
          tension: 0.3
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
  </script>
{% endblock %}