<form action="{{ url_for('new_transaction') }}" method="POST" id="transaction-form" class="dashboard-form">
  <input type="hidden" name="transaction_type" value="income" id="transactionType">
  <input type="hidden" name="category" id="categoryInput" value="">

  <div class="form-group">
    <label class="fw-medium" for="concept">Concepto</label>
    <input type="text" name="concept" id="concept" placeholder="Ej: Supermercado, Salario, etc." required>
  </div>

  <div class="form-group">
    <label class="fw-medium" for="amount">Monto</label>
    <input type="number" name="amount" id="amount" placeholder="0.00" step="0.50" min="0.50" required>
  </div>

  <div class="form-group">
    <span class="fw-medium">Categoria</span>
    
    <div class="custom-select" id="customSelect" aria-expanded="false" tabindex="0">
      <div class="select-trigger" id="selectTrigger">
        <span id="selectOptSelected"  class="text-secondary">Selecciona una categoria</span>
        <figure>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#ccc" class="bi bi-caret-down-fill" viewBox="0 0 16 16" aria-hidden="true">
            <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
          </svg>
        </figure>
      </div>

      <ul class="select-options-list" id="selectOptList">
        {% if not inc_cats %}
          <li class="opt-income none-opt">
            <span class="text-center text-secondary">Parece que no tienes categorias de ingreso.</span>
          </li>
        {% else %}
          {% for cat in inc_cats %}
            <li aria-selected="false" class="select-option opt-income" data-idv="{{ cat.id }}">
              <span>{{ cat.name }}</span>
              <figure class="select-opt-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16" aria-hidden="true">
                  <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
                </svg>
              </figure>
            </li>
          {% endfor %}
        {% endif %}

        {% if not exp_cats %}
          <li class="opt-expense none-opt">
            <span class="text-center text-secondary">Parece que no tienes categorias de gasto.</span>
          </li>
        {% else %}
          {% for cat in exp_cats %}
            <li aria-selected="false" class="select-option opt-expense" data-idv="{{ cat.id }}">
              <span>{{ cat.name }}</span>
              <figure class="select-opt-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16" aria-hidden="true">
                  <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
                </svg>
              </figure>
            </li>
          {% endfor %}
        {% endif %}
      </ul>
    </div>
  </div>

  <div class="form-group">
    <label class="fw-medium" for="date">Fecha</label>
    <input type="date" name="date" id="date" value="{{ today }}">
  </div>
</form>