<form action="{{ url_for('add_transaction') }}" method="POST" id="transaction-form">
  <input type="hidden" name="transaction_type" value="income" id="transactionType">

  <div class="form-group">
      <label>Tipo de Transacción</label>
      <div class="toggle-container">
        <button type="button" class="btn-toggle" data-ctype="income" id="toggleTransactionIncome">Ingreso</button>
        <button type="button" class="btn-toggle active" data-ctype="expense" id="toggleTransactionExpense">Gasto</button>
      </div>
  </div>

  <div class="form-group">
    <label for="description">Descripción</label>
    <input type="text" name="description" id="description" placeholder="Ej: Supermercado, Salario, etc." required>
  </div>

  <div class="form-group">
    <label for="amount">Monto</label>
    <input type="number" name="amount" id="amount" placeholder="0.00" step="0.50" min="0.50" required>
  </div>

  <div class="form-group">
    <label for="category-select">Categoria</label>
    <select name="category" id="category-select" required>
      <option value="1" disabled selected hidden>Selecciona una categoria</option>
      <option value="2" class="opt-expense">Comida</option>
      <option value="2" class="opt-expense">Escuela</option>
      <option value="4" class="opt-income">Salario</option>
      <option value="5" class="opt-income">Extra</option>
    </select>
  </div>

  <div class="form-actions">
    <button type="button" id="cancelBtn">Cancelar</button>
    <button type="submit" id="submitTransaction">Agregar movimiento</button>
  </div>
</form>